/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #274557;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #274557;
}
.Result {
  font-size: 18px;
  font-weight: 900;
  width: 100%;
  text-align: center;
}
.main-container {
  padding: 20px;
  padding-right: 120px;
  text-align: right;
  margin-top: 10px;
}
.headerLabel {
  width: 100%;
  color: #274557;
  background-color: white;
  width: 110%;
  padding: 20px;
  text-align: center;
}
.form {
  padding-right: 100px;
}
.loginStyle {
  padding: 10;
  padding-top: 100px;
  background-image: linear-gradient(to bottom, #274557, #e1efe8);
}
.fullScreen {
  padding: 0;
  height: 100vh;
}

.model_label {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #4d5961;
  border: none;
  border: 2px solid #e5e9eb;
  font-size: 17px;
  border-radius: 5px;
  background: #d8e1e4;
  margin-bottom: 10px;
  border-radius: 0;
}
.input_label {
  text-align: right;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #274557;
  width: 100%;
}
.input_style {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #4d5961;
  border: none;
  border: 2px solid #e5e9eb;
  font-size: 17px;
  border-radius: 5px;
}

.img {
  width: 100%;
  height: 100vh;
}

/* Start navbar style  */
.maindiv {
  width: 99%;
  padding-right: 50px;
  text-align: right;
  margin-top: 10px;
}

.nav-item {
  margin: 0 10px;
  padding: 0 !important;
}
.navLabel {
  color: WHITE;
  font-size: 13px;
  font-weight: 900;
  padding: 15px 20px;
}
.NavBar {
  background-color: #274557;
}
.p:hover {
  background-color: white;
  color: #274557;
  border-radius: 3px;
}
.dropbtn {
  background-color: #a2afb7;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  text-align: right;
  background-color: white;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  width: 100%;
  text-decoration: none;
  border-bottom: 1px solid #274557;
  display: block;
}

.dropdown-content a:hover {
  color: white !important;
  background-color: #274557;
}
.SubMenue {
  color: #274557;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* Home style */

.MainLabel {
  background: #274557;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 900;
}
th {
  text-align: center;
  border: 1px solid #d9d7d7;
  font-size: 18px;
  padding: 8px 12px 8px 12px;
  background-color: #3498db;
  color: white;
}
td {
  padding: 5px !important;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  border: 1px solid #d9d7d7;
  vertical-align: middle !important;
}

tr {
  background-color: #fafbfc;
}
tr:hover {
  background-color: #a9cef3;
}

.add_button {
  transition-duration: 0.4s;
  width: 100%;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 900;
  background-color: white;
  color: #274557;
  border: 1px solid #274557;
}
.add_button:hover {
  background-color: #274557;
  color: white;
}

.search_button {
  transition-duration: 0.4s;
  width: 100%;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  background-color: #86cf18;
  color: white;
  font-weight: 900;
  font-size: 15px;
}
.search_button:hover {
  background-color: white;
  color: #86cf18;
  border: 1px solid #86cf18;
}
.save_button {
  transition-duration: 0.4s;
  width: 100%;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  background-color: #0c6575;
  color: white;
  font-weight: 900;
  font-size: 15px;
}
.save_button:hover {
  background-color: white;
  color: #0c6575;
  border: 1px solid #0c6575;
}
.cancel_button {
  transition-duration: 0.4s;
  width: 100%;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  background-color: #7a3205;
  color: white;
  font-weight: 900;
  font-size: 15px;
}
.cancel_button:hover {
  background-color: white;
  color: #7a3205;
  border: 1px solid #7a3205;
}
.view_button {
  transition-duration: 0.4s;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  background-color: white;
  color: #274557;
  font-weight: 900;
  font-size: 15px;
}
.view_button:hover {
  background-color: #274557;
  color: whitesmoke;
}

.edit_button {
  transition-duration: 0.4s;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  background-color: white;
  color: #17883f;
  font-weight: 900;
  font-size: 15px;
}
.edit_button:hover {
  background-color: #17883f;
  color: whitesmoke;
}
.delete_button {
  transition-duration: 0.4s;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  background-color: white;
  color: #881717;
  font-weight: 900;
  font-size: 15px;
}
.delete_button:hover {
  background-color: #881717;
  color: whitesmoke;
}
.print_button {
  transition-duration: 0.4s;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  background-color: white;
  color: #c9539a;
  font-weight: 900;
  font-size: 15px;
}
.print_button:hover {
  background-color: #c9539a;
  color: whitesmoke;
}
.fontawesomeIcons {
  margin-right: 5px;
}
.valueLabel {
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  border: 1px solid #274557;
  border-radius: 2px;
  text-align: center;
  color: #274557;
  font-size: 15px;
  font-weight: 800;
}

.VisitationHeaderLabel {
  background: #274557;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  text-align: right;
  color: white;
  font-size: 18px;
  font-weight: 900;
}

.input_label {
  text-align: right;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  font-weight: 900;
  color: #274557;
  width: 100%;
}

.SeconderyDiv {
  padding: 20px;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #a4d4f1, #e1efe8);
}
.modal {
  padding: 20px;
  border-radius: 10px;
}

.select2_style {
  padding: 15px;
  margin-bottom: 10px;
  font-weight: 900;
  color: #4d5961;
  border: none;
}

/* Account Managment Style  */
.TableHeader {
  background-color: #274557;
  color: white;
  padding: 10px;
  text-align: right;
  font-size: 14px;
  font-weight: 900;
  border: 1px solid white;
}

.normalCell {
  background-color: white;
  color: #274557;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 900;
  border: 1px solid #274557;
}

.TableHeader button {
  color: white;
}

.TableHeader button:hover {
  background: white;
  color: #274557;
}
.Centeralized {
  text-align: center;
}

/* End of Account Managment Style  */

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f0f0f0;
  text-align: center;
  padding: 10px;
  display: none;
}

.FooterLabel {
  font-size: 16px;
  text-align: right;
  padding: 5px;
}
.popup {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  display: none;
  z-index: 99;
  padding: 10px;
  border-radius: 10px;
  text-align: right;
}
.modal-dialog {
  max-width: 100%;
  width: 90%;
  margin-right: 5%;
}
@media print {
  .btn {
    display: none;
  }
  .modal {
    background: white !important;
  }
  @page {
    padding-bottom: 20mm; /* Adjust the value as needed */
  }
  * {
    visibility: visible !important;
  }
  .notPrint {
    display: none;
  }

  .footer:last-of-type {
    display: block;
  }
}
.checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: Arial, sans-serif;
}

/* Hide the default checkbox input */
.checkbox-container input {
  display: none;
}

/* Style for the custom checkbox */
.custom-checkbox {
  width: 45px;
  height: 45px;
  border: 2px solid #3498db; /* Border color */
  border-radius: 4px; /* Border radius */
  margin-right: 10px; /* Spacing between checkbox and label */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style for the checkmark when checkbox is checked */
.checkbox-container input:checked + .custom-checkbox {
  background-color: #3498db; /* Checked background color */
  border-color: #3498db; /* Checked border color */
}

/* Style for the checkmark symbol */
.checkmark {
  width: 10px; /* Width of the checkmark */
  height: 5px; /* Height of the checkmark */
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(320deg) scaleX(-1) scale(2.3);
  display: none;
}

/* Show the checkmark when checkbox is checked */
.checkbox-container input:checked + .custom-checkbox .checkmark {
  display: block;
}

/* Style for the label text */
.checkbox-label {
  color: #333; /* Label text color */
  font-size: 14px; /* Label text font size */
}

.card {
  margin-bottom: 20px;
}

.card-img-top {
  width: 100%;
  height: 300px;
}

.card-title {
  font-size: 2.25rem;
  margin-bottom: 0.75rem;
}

.card-text {
  font-size: 2rem;
  color: #6c757d;
  margin-bottom: 0.75rem;
}

@media print {
  .print_button {
    display: none;
  }

  * {
    visibility: visible !important;
  }

  .TdStyle {
    background-color: #30a6f0 !important;
    color: white !important;
  }

  .table .TdStyle {
    background-color: #30a6f0 !important;
    color: white !important;
  }

  th {
    background-color: #30a6f0 !important;
    color: white !important;
  }

  .footer {
    display: block;
    background: #f0f0f0 !important;
  }
  .footer label span {
    color: #30a6f0 !important;
    font-weight: 900;
  }
  .main-container {
    padding: 0;
    padding: 20px;
    margin: 0;
  }
}
